html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*------START------*/
/*background-attachment: fixed;*/

@font-face{
    font-family: Iori;
    src: url("fonts/Iori.otf") format("opentype");
}

body{
    font-family: Roboto;
    font-size: 24px;
    color: #e0e0e0;
    background-color: black;
}

h1{
    z-index: 1;
    position: absolute;
    color: #E03C31;
    font-family: Iori;
    font-size: 800px;
    text-shadow: 0 0 40px #E03C31;
    top: 50px;
    left: 700px;
    -webkit-animation: FadeIn 5s forwards ease-out;
    -moz-animation: FadeIn 5s forwards ease-out;
    -o-animation: FadeIn 5s forwards ease-out;
    animation: FadeIn 5s forwards ease-out;
}

h2{
    z-index: 1;
    position: absolute;
    color: #E03C31;
    font-family: Iori;
    font-size: 140px;
    text-shadow: 0 0 80px #E03C31;
    top: 610px;
    left: 1180px;
    -webkit-animation: FadeIn 5s forwards ease-out;
    -moz-animation: FadeIn 5s forwards ease-out;
    -o-animation: FadeIn 5s forwards ease-out;
    animation: FadeIn 5s forwards ease-out;
}

.start{
    position: absolute;
    width: 500px;
    height: auto;
    top: 50px;
    left: 200px;
}

.end{
    z-index: 0;
    position: absolute;
    width: 500px;
    height: auto;
    top: 50px;
    left: 200px;
    opacity: 0;
    -webkit-animation: FadeIn 8s forwards ease-out;
    -moz-animation: FadeIn 8s forwards ease-out;
    -o-animation: FadeIn 8s forwards ease-out;
    animation: FadeIn 8s forwards ease-out;
}

@-webkit-keyframes FadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes FadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-o-keyframes FadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes FadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes Spin {
    0% {-webkit-transform: rotate(-10deg);}
    100% {-webkit-transform: rotate(10deg);}
}

@-moz-keyframes Spin {
    0% {-moz-transform: rotate(-10deg);}
    100% {-moz-transform: rotate(10deg);}
}

@keyframes Spin {
    0% {transform: rotate(-10deg);}
    100% {transform: rotate(10deg);}
}
/*
@-webkit-keyframes TranslateLeft {
    0% {transform: translateX(-1000px);}
    100% {transform: translateX(0);}
}

@-moz-keyframes TranslateLeft {
    0% {transform: translateX(-1000px);}
    100% {transform: translateX(0);}
}

@-o-keyframes TranslateLeft {
    0% {transform: translateX(-1000px);}
    100% {transform: translateX(0);}
}

@keyframes TranslateLeft {
    0% {transform: translateX(-1000px);}
    100% {transform: translateX(0);}
}

.frame1:hover{
    -webkit-animation: TranslateLeft 2s 1 forwards ease-out;
    -moz-animation: TranslateLeft 2s 1 forwards ease-out;
    -o-animation: TranslateLeft 2s 1 forwards ease-out;
    animation: TranslateLeft 2s 1 forwards ease-out;
}
*/
.separator{
    background-image: url("images/Transition.png");
    height: 600px;
}

.background{
    background-image: url("images/Hexa1.jpg");
    background-repeat: repeat;
    background-size: 600px;
}

.gradient{
    background-image: url("images/Hexa2.png");
    background-repeat: repeat;
    background-size: 600px 900px;
    background-attachment: fixed;
}

.main{
    background-image: url("images/Hexa3.png");
    background-repeat: repeat;
    background-size: 600px;
    margin-top: 800px;
}

.main p{
    background-image: url("images/Frame.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 50px;
    margin: 50px;
    line-height: 50px;
}

.frame1 p{
    margin-right: 50%;
    margin-bottom: 500px;
}

.frame2 p{
    margin-left: 50%;
    margin-bottom: -200px;
}

.frame3 p{
    margin-right: 50%;
    margin-bottom: -200px;
}

.frame4 p{
    margin-left: 50%;
    margin-bottom: 0px;
}

.frame5 p{
    margin-bottom: 300px;
}

.img1{
    position: relative;
    width: 30%;
    top: -800px;
    left: 60%;
    box-shadow: 0 0 40px #E03C31;
}

.img2{
    position: relative;
    width: 40%;
    top: -200px;
    left: 5%;
}

.img3{
    position: relative;
    width: 30%;
    left: 60%;
    top: -400px;
}

.img4{
    position: relative;
    width: 25%;
    top: -300px;
    left: 12%;
    box-shadow: 0 0 40px #E03C31;
}

.mol1{
    position: relative;
    width: 16%;
    top: -180px;
    left: -15%;
    -webkit-animation: Spin 8s infinite alternate-reverse ease-in-out;
    -moz-animation: Spin 8s infinite alternate-reverse ease-in-out;
    animation: Spin 8s infinite alternate-reverse ease-in-out;
}

.mol2{
    position: relative;
    width: 32%;
    top: -200px;
    left: 15%;
    -webkit-animation: Spin 8s infinite alternate ease-in-out;
    -moz-animation: Spin 8s infinite alternate ease-in-out;
    animation: Spin 8s infinite alternate ease-in-out;
}

.mol3{
    position: relative;
    width: 60%;
    top: -300px;
    left: 20%;
}